@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(29, 29, 29);
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

